version: "3"
services:
  db:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - db-data:/data/db
      - mongo-config:/data/configdb
  autothreader:
    image: knniff/autothreader
    links:
      - db:database
    environment:
      - TOKEN=
      - CLIENTID=
      - GUILDID=
      - DBCONNECT=

volumes:
  db-data:
  mongo-config:
